<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Konobar</title>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- BOOTSTRAP THEME -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- BOOTSTRAP JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- ANGULAR JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>

<!-- TOASTR -->
<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css"></script> -->

<!-- ANGULAR SCRIPT -->
<script src="WaiterPage.js"></script>
<style type="text/css">
	.navbar {
		background-color: lightblue
	}
	.form-inline .form-group input {
		width:200px;
	}
	.control-label {
		width:300px;
	}
	.modal-body {
    min-height:400px; 
    overflow-y: false;
}
</style>
</head>
<body ng-app="waiter">
	<div ng-controller="waiterController">
		<nav id="myNavbar" class="navbar">
			<div class="navbar-header">
				<a href="../WorkerPage/WaiterPage.html" class="navbar-brand" >Konobar</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#" ng-click="getProfile()">Profil</a></li>
				<li><a href="#" ng-click="getTables()">Raspored stolova</a></li>
				<li><a href="#" ng-click="getCalendar()">Kalendar</a></li>
				<li><a href="#" ng-click="getOrders(); getFoods(); getDrinks()">Porudzbine</a></li>
			</ul>
			<ul class="nav navbar-nav navbar-right">
			      <li><a href="#" ng-click="logout()"><span class="glyphicon glyphicon-log-out"></span> Odjava</a></li>
			</ul>
		</nav>
		<div ng-show="viewProfile" class="row" ng-controller="profileController">
			<div class="form">
				<div class="col-md-4">
					<img src="../Images/hotel-waiter.jpg" class="img-rounded" alt="Cinque Terre" width="350" height="250">
				</div>
				<div class="col-md-8">
					<label>Ime: <font size="4" color="blue">{{ waiter.user.name }} </font></label><br>
					<label>Prezime: <font size="4" color="blue">{{ waiter.user.lastName }} </font></label><br>
					<label>Email: <font size="4" color="blue">{{ waiter.user.email }} </font></label><br>
					<label>Datum rođenja: <font size="4" color="blue">{{ waiter.birthday }} </font></label><br>
					<label>Konfekcijski broj: <font size="4" color="blue">{{ waiter.suitSize }} </font></label><br>
					<label>Veličina obuće: <font size="4" color="blue">{{ waiter.shoeSize }} </font></label><br>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#profileModal" ng-click="resetNewWaiter()"> Izmenite profil </button>
					</div>					
	  			</div>
	  		</div>
		</div>
		
		<div id="profileModal" ng-controller="profileController" class="modal fade" role="dialog">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
			        	<button type="button" class="close" data-dismiss="modal">&times;</button>
			        	<h4 class="modal-title">Izmena profila</h4>
			      	</div>
			      	<div class="modal-body">
			      		<div class="form-group">
							<label class="control-label" for="ime">Ime:</label>
							<input type="text" class="form-control" id="ime" ng-model="editWaiter.user.name">
						</div>
						<div class="form-group">
							<label class="control-label" for="prezime">Prezime:</label>
							<input type="text" class="form-control" id="prz" ng-model="editWaiter.user.lastName">
						</div>
						<div class="form-group">
							<label class="control-label" for="email">Email:</label>
							<input type="email" class="form-control" id="email" ng-model="editWaiter.user.email">
						</div>
						<div class="form-group">
							<label class="control-label" for="datum">Datum rođenja:</label>
							<input type="text" class="form-control" id="datum" ng-model="editWaiter.birthday">
						</div>
						<div class="form-group">
							<label class="control-label" for="broj">Konfekcijski broj:</label>
							<input type="text" class="form-control" id="broj" ng-model="editWaiter.suitSize">
						</div>
						<div class="form-group">
							<label class="control-label" for="obuca">Veličina obuće:</label>
							<input type="text" class="form-control" id="obuca" ng-model="editWaiter.shoeSize">
						</div>
						<div class="form-group">
							<label class="control-label" for="staraLozinka">Vaša lozinka:</label>
							<input type="password" class="form-control" id="staraLozinka" ng-model="oldPassword" required>
						</div>
						<div class="form-group">
							<label class="control-label" for="novaLozinka">Vaša nova lozinka:</label>
							<input type="password" class="form-control" id="movaLozinka" ng-model="newPassword">
						</div>
						<div class="form-group">
							<label class="control-label" for="potvrdaLozinke">Potvda nove lozinke:</label>
							<input type="password" class="form-control" id="potvrdaLozinke" ng-model="confirmPassword">
						</div>
						<div class="form-group text-danger" ng-if="errorMessage">{{ errorMessage }}</div>
			      	</div>
			      	<div class="modal-footer">
			      		<button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetNewWaiter()">Izađi</button>
			        	<button type="submit" class="btn btn-primary pull-left" ng-click="editProfile()" > Izmeni </button>
			      	</div>
				</div>
			</div>
		</div>
		
		<div ng-show="makeOrder">
			<div class="row">
				<div class="col-md-8">
				<label><font color="blue" size="3">Odaberite hranu:</font></label>
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>Naziv</th><th>Opis</th><th>Cena</th><th>Koliko</th><th>&nbsp;</th>
				      </tr>
				     </thead>
				     <tbody>
				     	<tr ng-repeat="food in foods | orderBy:'name'">
				     		<td> {{ food.name }} </td>
				     		<td> {{ food.description }} </td>
				     		<td> {{ food.price }} </td>
				     		<td> <input type="number" min="0" max="5" class="form-group" ng-model="food.quantity" ng-value="food.quantity"></td>
				     		<td> <button type="submit" id="{{food.id}}" class="btn btn-success" ng-click="addFood(food)">Dodaj</button></td>
				     </tbody>
				</table>
				</div>  
				
				<div class="col-md-8">
				<label><font color="blue" size="3">Odaberite pice:</font></label>
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>Naziv</th><th>Opis</th><th>Cena</th><th>Koliko</th><th>&nbsp;</th>
				      </tr>
				     </thead>
				     <tbody>
				     	<tr ng-repeat="drink in drinks | orderBy:'name'">
				     		<td> {{ drink.name }} </td>
				     		<td> {{ drink.description }} </td>
				     		<td> {{ drink.price }} </td>
				     		<td> <input type="number" min="0" max="5" class="form-group" ng-model="drink.quantity"></td>
				     		<td> <button type="submit" id="{{drink.id}}" class="btn btn-success" ng-click="addDrink(drink)">Dodaj</button></td>
				     </tbody>
				</table>
				</div>      
			</div>
			<label><font color="blue" size="3">Porudzbina za sto:</font></label>
			<!-- select tables izabrati indeks stola koji ce se poslati u bazu -->
			<div class="form-group">	
				<button type="submit" class="btn btn-primary" ng-click="gotovaPorudzbina()">Dodaj porudzbinu</button>
			</div>
			<div class="form-group">	
				<button type="submit" class="btn btn-primary right" ng-click="porudzbine()">Porudzbine</button>
			</div>
		</div>
		
		<div ng-show="viewOrders">
			<div class="row">
				<div class="col-md-8">
				<label><font color="blue" size="3">Porudzbine:</font></label>
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>Redni broj</th><th>Sto</th><th>Status</th><th>&nbsp;</th><th>&nbsp;</th>
				      </tr>
				     </thead>
				     <tbody>
				     	<tr ng-repeat="order in guestOrders">
				     		<td> {{ order.id }} </td>
				     		<td> <label>Sto</label></td>
				     		<td ng-if="order.prepared == false" style="background:red" >Nije pripremljena</td>
				     		<td ng-if="order.prepared == true" style="background: green">Pripremljena</td>
				     		<td> <button type="submit" id="{{order.id}}" class="btn btn-danger" ng-click="deleteOrder(order.id)">Obrisi</button></td>
				     		<td ng-if="order.prepared == true"> <button type="submit" id="{{order.id}}" class="btn btn-success" ng-click="makeBill(order.id)">Naplati</button></td>
				     		<td ng-if="order.prepared == false">&nbsp;</td>
				     	</tr>
				     </tbody>
				 </table>
				 </div>
			</div>
			<div class="form-group">	
				<button type="submit" class="btn btn-primary" ng-click="novaPorudzbina()">Nova porudzbinu</button>
			</div>
		</div>
		<div ng-show="bill" class="form-group">
			<label>Račun za ovu porudzbinu iznosi:&nbsp;</label><b><font size="3" color="blue">{{ total }}</font></b> <label>dinara.</label>
			<div>
				<button type="submit" class="btn btn-primary" ng-click="racun()">Naplati</button>
			</div>
		</div>
		<div ng-show="firstLogin" class="form-group" >
			<label>Promenite vašu lozinku:</label>
			<div class="form-group">
				<label class="control-label" for="staraLozinka">Vaša lozinka:</label>
				<input type="password" class="form-control" id="staraLozinka" ng-model="oldFirstPassword" required>
			</div>
			<div class="form-group">
				<label class="control-label" for="novaLozinka">Vaša nova lozinka:</label>
				<input type="password" class="form-control" id="novaLozinka" ng-model="newFirstPassword">
			</div>
			<div class="form-group">
				<label class="control-label" for="potvrdaLozinke">Potvda nove lozinke:</label>
				<input type="password" class="form-control" id="potvrdaLozinke" ng-model="confirmFirstPassword">
			</div>
			<div class="form-group text-danger" ng-if="greska">{{ greska }}</div>
			<div class="form-group">
				<button type="submit" class="btn btn-primary pull-left" ng-click="novaLozinka()">Izmeni</button>
			</div>
		</div>
	</div>
</body>
</html>