<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Registracija</title>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- BOOTSTRAP THEME -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- BOOTSTRAP JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- TOASTR -->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></link>

<script src="/JQuery-cookie-plugin/jquery.cookie.js"></script>

<!-- ANGULAR JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>


<!-- ANGULAR SCRIPT -->
<script src="RegistrationPage.js"></script>

</head>
<body ng-app="app">

<div class="container-fluid">
	<div class="jumbotron">
		<h1>Registracija</h1>
	</div>
	<div ng-controller="registrationPageController" >
		<div class="form-group">
			<label for="email" class="control-label"> E-mail: </label>  
			<input type = "text" class="form-control" id="email" ng-model="user.email" ng-click="validateEmail()" placeholder="Unesi e-mail"> 
		</div>
		<div class="form-group">	
			<label for="password" class="control-label"> Lozinka: </label>  
			<input type = "password" class="form-control" id="password" ng-model="user.password" placeholder="Unesi lozinku"> 
		</div>
		<div class="form-group">	
			<label for="confirmPassword" class="control-label"> Potvrda lozinke: </label>  
			<input type = "password" class="form-control" id="confirmPassword" ng-model="passwordConfirm" placeholder="Potvrdi lozinku"> 
		</div>
		<div class="form-group">	
			<label for="name" class="control-label"> Ime: </label>  
			<input type = "text" class="form-control" id="name" ng-model="user.name" placeholder="Unesi ime"> 
		</div>
		<div class="form-group">	
			<label for="lastName" class="control-label"> Prezime: </label>  
			<input type = "text" class="form-control" id="lastName" ng-model="user.lastName" placeholder="Unesi prezime"> 
		</div>
		<div class="form-group text-danger" ng-if="errorMessage">{{ errorMessage }}</div>
		<div class="form-group">	
			<button type="submit" class="btn btn-primary" ng-click="register()"> Registracija </button>
		</div>
	</div>
	
</div>





</body>
</html>