<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Početna strana</title>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- BOOTSTRAP THEME -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- BOOTSTRAP JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- ANGULAR JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>

<!-- Script with Angular modules -->
<script src="ngStuff.js"></script>

<script>
function validateLogin() {
	 $.ajax({
			type : "GET",
			url : "../RestaurantReservations/rest/guest/validateLogin",
			success : function(data) {
				console.log("SUCCESS: ", data);
			},
			error : function(e) {
				console.log("ERROR: ", e);
			}
		});
	 
  }

</script>

</head>
<body ng-app="app">

<div class="container-fluid">
	<div class="jumbotron">
		<h1>Početna strana</h1>
	</div>
	
	<div ng-controller="startPageController" >
		<div class="form-group">
			<label for="email" class="control-label"> E-mail: </label>  
			<input type = "text" class="form-control" id="email" ng-model="guest.email" oninput="validateEmail();" placeholder="Unesi e-mail"> 
		</div>
		<div class="form-group">	
			<label for="password" class="control-label"> Lozinka: </label>  
			<input type = "text" class="form-control" id="password" ng-model="guest.password" placeholder="Unesi lozinku"> 
		</div>
		<div class="form-group">	
			<button type="submit" class="btn btn-primary" onclick="validateLogin();"> Uloguj se </button>
		</div>
	</div>
	
	
</div>





</body>
</html>