<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gost</title>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- BOOTSTRAP THEME -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- BOOTSTRAP JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- TOASTR -->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></link>

   
<script src="/JQuery-cookie-plugin/jquery.cookie.js"></script>

<!-- ANGULAR JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>



<!-- ANGULAR SCRIPT -->
<script src="GuestPage.js"></script>


<style type="text/css">

.modal-body {
    min-height:400px; 
    overflow-y: false;
}

.fixed-panel {
	max-height: 400px;
	overflow-y: scroll;
	min-height: 400px;
}

.small-panel {
	max-height: 150px;
	overflow-y: scroll;
	min-height: 150px;
}

.canvas {
	border : 2px solid;
	width: 500px;
	height: 250px;
}

.selected {
	color : blue;
}

input[type="number"] {
   width:70px;
}


</style>

</head>
<body ng-app="app">

<div class="container-fluid">
	
	<div ng-controller="guestPageController">
	
		<nav id="navbar" class="navbar navbar-inverse">
			<div class="container-fluid">
			<div class="navbar-header">
				<a href="/GuestPage/GuestPage.html" class="navbar-brand" >Gost</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#" ng-click="loadRestaurants()">Restorani</a></li>
				<li><a href="#" ng-click="loadUserFriends()">Prijatelji</a></li>
				<li><a href="#" ng-click="loadUserProfile()">Nalog</a></li>
				<li><a href="#" ng-click="loadGuestReservations()">Rezervacije</a></li>
			</ul>
			 <ul class="nav navbar-nav navbar-right">
		      <li><a href="#" ng-click="toInvitePage()"><span class="glyphicon glyphicon-envelope"></span> Pozivi prijatelja</a></li>
		      <li><a href="#" ng-click="userLogout()"><span class="glyphicon glyphicon-log-out"></span> Izloguj se</a></li>
		    </ul>
		    </div>
		</nav>
		<div ng-show="showHistory">
			<h1>Istorija poseta:</h1>
			<table class="table table-bordered table-striped">
			<thead>
			      <tr>
        			<th> Restoran</th>
        			<th> Datum</th>
			        <th> Prijatelji </th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="history in histories">
			        <td>{{history.restaurant.name}}</td>
			        <td>{{history.date | parseDate}}</td>
			        <td> <span ng-repeat="friend in history.visitors">{{friend.user.name}}&nbsp;</span></td>
			      </tr>
			    </tbody>
			</table>
		</div>
		<div ng-controller="restaurantsController">
			<div ng-show="showRestaurants" >
				<h1>Restorani:</h1>
				<div class="row">
					<div class="col-md-4">
					  <div class="form-group">
					  <label for="cat">Filtraj po kategoriji:</label>
						  <select class="form-control" id="cat" ng-options="restaurant.category as restaurant.category for restaurant in $parent.restaurants | unique:'category'" ng-model="selectedCategory">
						  	<option value=""></option>
						  </select>
						</div>
					</div>
					<div class="col-md-8">
						<label></label>
						<div class="form-group">	
							<button type="submit" class="btn btn-primary" ng-click="goToReservations()" > Rezervisi mesto </button>
						</div>
					</div>
				</div>
				
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>
				        	<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					        Naziv 
					        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
	        			</th>
	        			<th>
				        	<a href="#" ng-click="sortType = 'category'; sortReverse = !sortReverse">
					        Kategorija 
					        <span ng-show="sortType == 'category' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					        <span ng-show="sortType == 'category' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
	        			</th>
	        			<th>
				        	<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					        Opis 
					        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
	        			</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr style="cursor: pointer" ng-repeat="restaurant in restaurants | orderBy:sortType:sortReverse" ng-if="restaurant.category == selectedCategory || selectedCategory == null || selectedCategory ==''" ng-click="selectRestaurant(restaurant)" data-ng-class="{selected: restaurant.id == idSelected}">
				        <td>{{restaurant.name}}</td>
				        <td>{{restaurant.category}}</td>
				        <td>{{restaurant.description}}</td>
				      </tr>
				    </tbody>
				</table>
			</div>
			<div ng-show="showReservations">
			<h1>Rezervacija:</h1>
				&nbsp;
				<h4><b>Restoran:</b> {{selectedRestaurant.name}}</h4>
				<div class="form-group">	
					<h4><b>Datum i vreme rezervacije:</b> &nbsp;<input type="datetime-local" ng-model="reservationDateTime" ng-change="hideCanvas()"></input></h4>
				</div>
				<div class="row">
					<div class="form-group col-md-2">	
						<h4> <b>Trajanje u satima:</b>	</h4>
					</div>
					<div class="col-md-1">
							<input type="number" min="1" max="10" class="form-control" ng-model="reservationDuration" ng-change="hideCanvas()">
					</div> 
				</div>
				<button type="button" class="btn btn-primary" ng-click="drawCanvas()">Prikazi restoran</button>
				<hr size="60">
				<div ng-show="showCanvas">
					 <div class="row">
					 	<div class="col-md-5">
							<canvas id="canvas" class="canvas" ng-click="draw($event)">
								Vas browser ne podrzava graficki prikaz!
							</canvas>
					 		<div class="form-group row">
					 			<div class="col-md-6">
					 				<button type="button" class="btn btn-danger pull-right" ng-click="drawCanvas()">Obrisi izabrano</button>
					 			</div>
					 			<div class="col-md-6">
					 				<button type="button" class="btn btn-primary" ng-click="reserveTables()">Rezervisi stolove</button>
					 			</div>
					 		</div>
						</div>
					 	<div class="col-md-3">
							<h4>Izabrani stolovi:</h4>
							<ul>
								<li ng-repeat="table in reserved">
									<h5>Sto: {{table.tag}}</h5>
									<h5>Segment: {{table.segment.name}}</h5>
									<hr size="5">
								</li>
							</ul>
						</div>
						<div class="col-md-4">
<!-- PORUCI HRANU -->
							<h4>Porucite hranu i pice:</h4>
								<div class="panel panel-primary small-panel">
						  			<div class="panel-heading">Hrana</div>
						  				<div class="panel-body" >
											<ul class="list-group">
												<li style="height: 60px" class="list-group-item" ng-repeat="food in menu.foods">
													{{food.name}}
													<input id="{{'food'+food.id}}" type="number" min="0" max="5" class="form-control pull-right">
												</li>
											</ul>
										</div>
									</div>
									<div class="panel panel-primary small-panel">
						  			<div class="panel-heading">Pice</div>
						  				<div class="panel-body" >
											<ul class="list-group">
												<li style="height: 60px" class="list-group-item" ng-repeat="drink in menu.drinks" >
													{{drink.name}}
													<input id="{{'drink' + drink.id}}" type="number" min="0" max="5" class="form-control pull-right">
												</li>
											</ul>
										</div>
									</div>
									<hr size="5"/>
									<div class="checkbox">
									  <label><input type="checkbox" ng-model="prepared">Da bude pripremljeno?</label>
									</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<div ng-show="showFriends" ng-controller="friendsController">
			<div class="form-group">	
				<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addFriendsModal"> Pronadji prijatelje </button>
			</div>
			<h1>Prijatelji:</h1>
			<div class="row">
				<div class="col-md-8">
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>
				        	<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					        Ime i prezime 
					        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
	        			</th>
				        <th>Poseta</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="friend in guest.friends | orderBy:sortType:sortReverse track by $index">
				        <td>{{friend.user.name + " " + friend.user.lastName}}</td>
				        <td>{{friend.visits}}</td>
				      </tr>
				    </tbody>
				</table>
				</div>
					
				<div class="panel panel-primary fixed-panel col-md-4">
					  <div class="panel-heading">Zahtevi za prijateljstvo</div>
					  <div class="panel-body" >
					  	 <div ng-repeat="friendRequest in guest.friendRequests track by friendRequest.id">
						  	 	<div class="row">
						  	 		<div class="col-md-2">
											<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="50" height="50">
									</div>
									<div class="col-md-10">
										<p class="small">Ime i prezime: {{friendRequest.user.name + " " + friendRequest.user.lastName}}</p>
										<p class="small">Mesto: {{friendRequest.city}}</p>
										<button type="button" class="btn btn-primary" ng-click="acceptRequest(friendRequest)">Prihvati zahtev</button>
										<button type="button" class="btn btn-danger pull-right" ng-click="declineRequest(friendRequest)">Odbi zahtev</button>
									</div>
								</div>
								<hr size="10">
				  		</div>
					  </div>
			</div>
		</div>
		</div>
		<div ng-show="showProfile">
			<div ng-controller="profileController">
			<div class="row">
				<div class="col-md-4">
					<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="200" height="200">
				</div>
				<div class="col-md-8">
					<h4>E-mail: {{guest.user.email}}</h4>
					<h4>Ime i prezime: {{guest.user.name + " " + guest.user.lastName}}</h4>
					<h4>Mesto stanovanja: {{guest.city}}</h4>
					<h4>Adresa stanovanja: {{guest.address}}</h4>
					<h4>Broj poseta: {{guest.visits}}</h4>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal" ng-click="resetNewGuest()"> Izmeni svoj profil </button>
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-primary" ng-click="openCredidentials()"> Izmeni svoje korisnicke podatke </button>
					</div>
				</div>
	
			</div>
			<!-- Modal -->
			<div id="editProfileModal" class="modal fade" role="dialog" >
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Izmena profila</h4>
			      </div>
			      <div class="modal-body">
			      	<div class="form-group">
						<label for="name" class="control-label"> Ime: </label>  
						<input type = "text" class="form-control" id="name" ng-model="newGuest.user.name" placeholder="Unesi ime"> 
					</div>
			      	<div class="form-group">
						<label for="lastName" class="control-label"> Prezime: </label>  
						<input type = "text" class="form-control" id="lastName" ng-model="newGuest.user.lastName" placeholder="Unesi prezime"> 
					</div>
			      	<div class="form-group">
						<label for="city" class="control-label"> Mesto stanovanja: </label>  
						<input type = "text" class="form-control" id="city" ng-model="newGuest.city" placeholder="Unesi mesto stanovanja"> 
					</div>
					<div class="form-group">
						<label for="address" class="control-label"> Adresa stanovanja: </label>  
						<input type = "text" class="form-control" id="address" ng-model="newGuest.address" placeholder="Unesi adresu stanovanja"> 
					</div>
					<div class="form-group text-danger" ng-if="errorMessage">{{ errorMessage }}</div>
			      
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetNewGuest()">Izadji</button>
			        <button type="submit" class="btn btn-primary pull-left" ng-click="editProfile()" > Izmeni </button>
			      </div>
			  </div>
			</div>
			</div>
			
			<!-- Modal -->
			<div id="editGuestInfoModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Izmena korisnickih informacija</h4>
			      </div>
			      <div class="modal-body">
					<div class="form-group">
						<label for="password" class="control-label"> Trenutna lozinka: </label>  
						<input type = "password" class="form-control" id="password" ng-model="password" placeholder="Unesi trenutnu lozinku"> 
					</div>
			      	<div class="form-group">
						<label for="password" class="control-label"> Nova lozinka: </label>  
						<input type = "password" class="form-control" id="password" ng-model="newPassword" placeholder="Unesi lozinku"> 
					</div>
			      	<div class="form-group">
						<label for="passwordConfirm" class="control-label"> Potvrda nove lozinke: </label>  
						<input type = "password" class="form-control" id="passwordConfirm" ng-model="newPasswordConfirm" placeholder="Potvrdi lozinku"> 
					</div>
			      	
					<div class="form-group text-danger" ng-if="userInfoErrorMessage">{{ userInfoErrorMessage }}</div>
			      
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetNewGuest()">Izadji</button>
			        <button type="submit" class="btn btn-primary pull-left" ng-click="editGuestInfo()" > Izmeni </button>
			      </div>
			  </div>
			</div>
			</div>
			</div>
			<hr size="100">
			<div ng-controller="friendsController">
			<div class="form-group">	
				<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addFriendsModal"> Pronadji prijatelje </button>
			</div>
			<h1>Prijatelji:</h1>
			<div class="row">
				<div class="col-md-8">
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>
				        	<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					        Ime i prezime 
					        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
	        			</th>
				        <th>Poseta</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="friend in guest.friends | orderBy:sortType:sortReverse track by $index">
				        <td>{{friend.user.name + " " + friend.user.lastName}}</td>
				        <td>{{friend.visits}}</td>
				      </tr>
				    </tbody>
				</table>
				</div>
					
				<div class="panel panel-primary fixed-panel col-md-4">
					  <div class="panel-heading">Zahtevi za prijateljstvo</div>
					  <div class="panel-body" >
					  	 <div ng-repeat="friendRequest in guest.friendRequests track by friendRequest.id">
						  	 	<div class="row">
						  	 		<div class="col-md-2">
											<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="50" height="50">
									</div>
									<div class="col-md-10">
										<p class="small">Ime i prezime: {{friendRequest.user.name + " " + friendRequest.user.lastName}}</p>
										<p class="small">Mesto: {{friendRequest.city}}</p>
										<button type="button" class="btn btn-primary" ng-click="acceptRequest(friendRequest)">Prihvati zahtev</button>
										<button type="button" class="btn btn-danger pull-right" ng-click="declineRequest(friendRequest)">Odbi zahtev</button>
									</div>
								</div>
								<hr size="10">
				  		</div>
					  </div>
			</div>
		</div>
		</div>
		</div>
		
		<div ng-show="showGuestReservations" ng-controller="reservationsController">
		<h1>Rezervacije:</h1>
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>Restoran </th>
	        			<th>Stolovi </th>
	        			<th>Datum i vreme </th>
				        <th>Za broj casova</th>
				        <th>Za broj osoba</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr style="cursor: pointer" ng-repeat="reservation in guestReservations" ng-click="selectReservation(reservation)" data-ng-class="{selected: reservation.id == reservationId}">
				        <td>{{reservation.restaurant.name}}</td>
				        <td> <span ng-repeat="table in reservation.tables">{{table.tag}}&nbsp;</span></td>
				        <td>{{reservation.reservationDateTime | parseDate}}</td>
				        <td>{{reservation.duration}}</td>
				       <td> <span ng-repeat="table in reservation.tables">{{table.seatCount}}&nbsp;</span></td>
				      </tr>
				    </tbody>
				</table>
				<div class="form-group">
					<button type="button" class="btn btn-danger pull-right" ng-click="cancelReservation()">Otkazi rezervaciju</button>
					<button type="button" class="btn btn-primary" ng-click="openFriends()" >Pozovi prijatelje</button>
				</div>
				<hr size="50">
					<h1>Pozvani prijatelji:</h1>
				<div class="row">
					<div class="col-md-6">
					<table class="table table-bordered table-striped">
					    <thead>
					      <tr>
					        <th> Ime i prezime </th>
		        			<th> Rezervacija za restoran</th>
		        			<th> Datum</th>
		        			<th> Status poziva</th>
					      </tr>
					    </thead>
					    <tbody>
					      <tr ng-repeat="invite in invites">
					        <td>{{invite.friend.user.name + " " + invite.friend.user.lastName}}</td>
					        <td>{{invite.reservation.restaurant.name}}</td>
					        <td>{{invite.reservation.reservationDateTime | parseDate}}</td>
					        <td><div ng-if="invite.accepted">Prihvatio</div><div ng-if="!invite.accepted">Na cekanju</div></td>
					      </tr>
					    </tbody>
					</table>
					</div>
				</div>
		
		<!-- Modal -->
		<div id="inviteFriendsModal" class="modal fade" role="dialog">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Pozovi prijatelje</h4>
			      </div>
			       <div class="modal-body">
			       		 <div class="panel panel-primary fixed-panel">
						  <div class="panel-body" >
						  	 <div ng-repeat="friend in guest.friends track by friend.id">
							  	 	<div class="row">
							  	 		<div class="col-md-3">
												<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="80" height="80">
										</div>
										<div class="col-md-9">
											<p><b>Ime i prezime:</b> {{friend.user.name + " " + friend.user.lastName}}</p>
											<p><b>Mesto stanovanja:</b> {{friend.city}}</p>
											<p><b>Adresa stanovanja:</b> {{friend.address}}</p>
											  <div ng-show="friend | invited:$parent.invites:reservation"><button type="button" class="btn btn-primary pull-right" ng-click="inviteFriend(friend)">Pozovi prijatelja</button></div>
											  <div ng-show="!(friend | invited:$parent.invites:reservation)"><button type="button" class="btn btn-default pull-right" disabled="true">Prijatelj pozvan</button></div>
										</div>
										</div>
										<hr size="20">
								</div>
					  		</div>
						  </div>
				  </div>  
			      <div class="modal-footer">
			        	<button type="button" class="btn btn-primary" data-dismiss="modal">Izadji</button>
			      </div>
			      </div>
			  </div>
			</div>
		</div>
		
		
		<!-- Modal -->
			<div id="addFriendsModal" class="modal fade" role="dialog" ng-controller="friendsController">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Pronadji prijatelje</h4>
			      </div>
			      <div class="modal-body">
				      <div class="form-group">
						<input type = "text" class="form-control" ng-model="searchInput" ng-change="searchGuests()" placeholder="Potrazi prijatelje"> 
					  </div>
					  <div class="panel panel-primary fixed-panel">
						  <div class="panel-body" >
						  	 <div ng-repeat="g in guests track by g.id">
							  	 	<div class="row">
							  	 		<div class="col-md-3">
												<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
										</div>
											<p>Ime i prezime: {{g.user.name + " " + g.user.lastName}}</p>
											<p>Mesto stanovanja: {{g.city}}</p>
										<div class="col-md-9">
											  <div ng-if="guest | doesntContain:g:'add'"><button type="button" class="btn btn-primary pull-right" ng-click="addFriend(g)">Dodaj za prijatelja</button></div>
											  <div ng-if="guest| doesntContain:g:'remove'"><button type="button" class="btn btn-danger pull-right" ng-click="removeFriend(g)">Obrisi iz liste prijatelja</button></div>
											  <div ng-if="guest | doesntContain:g:'requestSent'"><button type="button" class="btn pull-right" disabled="true">Poslat zahtev</button></div>
											  <div ng-if="guest | doesntContain:g:'requestRecieved'">
													<button type="button" class="btn btn-primary" ng-click="acceptRequest(g)">Prihvati zahtev</button>
													<button type="button" class="btn btn-danger pull-right" ng-click="declineRequest(g)">Odbi zahtev</button>
											  </div>
										</div>
										</div>
										<hr size="20">
									</div>
					  		</div>
						  </div>
					</div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" data-dismiss="modal">Izadji</button>
				      </div>
			      </div>
			  </div>
			</div>
			
			
			
		</div>
	</div>

</body>
</html>