<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Gost</title>

<!-- JQUERY -->
<script src="https://code.jquery.com/jquery-3.1.1.js" integrity="sha256-16cdPddA6VdVInumRGo6IbivbERE8p7CQR3HzTBuELA=" crossorigin="anonymous"></script>

<!-- BOOTSTRAP CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<!-- BOOTSTRAP THEME -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

<!-- BOOTSTRAP JS -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<!-- TOASTR -->
<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
<link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"></link>

<script src="/JQuery-cookie-plugin/jquery.cookie.js"></script>

<!-- ANGULAR JS -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.1/angular.js"></script>


<!-- ANGULAR SCRIPT -->
<script src="GuestPage.js"></script>

<style type="text/css">

.modal-body {
    min-height:400px; 
    overflow-y: false;
}

.fixed-panel {
	max-height: 400px;
	overflow-y: scroll;
	min-height: 400px;
}

</style>

</head>
<body ng-app="app">

<div class="container-fluid">
	
	<div ng-controller="guestPageController">
	
		<nav id="navbar" class="navbar navbar-inverse">
			<div class="container-fluid">
			<div class="navbar-header">
				<a href="/GuestPage/GuestPage.html" class="navbar-brand" >Gost</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#" ng-click="loadRestaurants()">Restorani</a></li>
				<li><a href="#" ng-click="loadUserFriends()">Prijatelji</a></li>
				<li><a href="#" ng-click="loadUserProfile()">Nalog</a></li>
			</ul>
			 <ul class="nav navbar-nav navbar-right">
		      <li><a href="#" ng-click="userLogout()"><span class="glyphicon glyphicon-log-out"></span> Izloguj se</a></li>
		    </ul>
		    </div>
		</nav>
		<div ng-show="showRestaurants" ng-controller="restaurantsController">
			<table class="table table-bordered table-striped">
			    <thead>
			      <tr>
			        <th>
			        	<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
				        Naziv 
				        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
				        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        			</th>
        			<th>
			        	<a href="#" ng-click="sortType = 'category'; sortReverse = !sortReverse">
				        Kategorija 
				        <span ng-show="sortType == 'category' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
				        <span ng-show="sortType == 'category' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        			</th>
        			<th>
			        	<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
				        Udaljenost 
				        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
				        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
        			</th>
			        <th>Ocena</th>
			        <th>Ocena prijatelja</th>
			        <th>Rezervacija</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr ng-repeat="restaurant in restaurants | orderBy:sortType:sortReverse">
			        <td>{{restaurant.name}}</td>
			        <td>{{restaurant.category}}</td>
			        <td>{{restaurant.name}}</td>
			        <td>{{restaurant.name}}</td>
			        <td>{{restaurant.name}}</td>
			        <td>{{restaurant.name}}</td>
			      </tr>
			    </tbody>
			</table>
		</div>
		<div ng-show="showFriends" ng-controller="friendsController">
			<div class="form-group">	
				<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#addFriendsModal"> Pronadji prijatelje </button>
			</div>
			<div class="row">
				<div class="col-md-8">
				<table class="table table-bordered table-striped">
				    <thead>
				      <tr>
				        <th>
				        	<a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">
					        Ime i prezime 
					        <span ng-show="sortType == 'name' && !sortReverse" class="glyphicon glyphicon-triangle-bottom"></span>
					        <span ng-show="sortType == 'name' && sortReverse" class="glyphicon glyphicon-triangle-top"></span>
	        			</th>
				        <th>Poseta</th>
				      </tr>
				    </thead>
				    <tbody>
				      <tr ng-repeat="friend in guest.friends | orderBy:sortType:sortReverse track by $index">
				        <td>{{friend.user.name + " " + friend.user.lastName}}</td>
				        <td>{{friend.visits}}</td>
				      </tr>
				    </tbody>
				</table>
				</div>
					
				<div class="panel panel-primary fixed-panel col-md-4">
					  <div class="panel-heading">Zahtevi za prijateljstvo</div>
					  <div class="panel-body" >
					  	 <div ng-repeat="friendRequest in guest.friendRequests track by friendRequest.id">
						  	 	<div class="row">
						  	 		<div class="col-md-2">
											<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="50" height="50">
									</div>
									<div class="col-md-10">
										<p class="small">Ime i prezime: {{friendRequest.user.name + " " + friendRequest.user.lastName}}</p>
										<p class="small">Mesto: {{friendRequest.city}}</p>
										<button type="button" class="btn btn-primary" ng-click="acceptRequest(friendRequest)">Prihvati zahtev</button>
										<button type="button" class="btn btn-danger pull-right" ng-click="declineRequest(friendRequest)">Odbi zahtev</button>
									</div>
								</div>
								<hr size="10">
				  		</div>
					  </div>
			</div>
		</div>
		</div>
		<div ng-show="showProfile" ng-controller="profileController">
			<div class="row">
				<div class="col-md-4">
					<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="200" height="200">
				</div>
				<div class="col-md-8">
					<h4>E-mail: {{guest.user.email}}</h4>
					<h4>Ime i prezime: {{guest.user.name + " " + guest.user.lastName}}</h4>
					<h4>Mesto stanovanja: {{guest.city}}</h4>
					<h4>Adresa stanovanja: {{guest.address}}</h4>
					<h4>Broj poseta: {{guest.visits}}</h4>
					<div class="form-group">
						<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#editProfileModal" ng-click="resetNewGuest()"> Izmeni svoj profil </button>
						&nbsp;&nbsp;
						<button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#editGuestInfoModal" ng-click="resetNewGuest()"> Izmeni svoje korisnicke podatke </button>
					</div>
				</div>
	
			</div>
		</div>
		
		
		
		<!-- Modal -->
			<div id="addFriendsModal" class="modal fade" role="dialog" ng-controller="friendsController">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Pronadji prijatelje</h4>
			      </div>
			      <div class="modal-body">
				      <div class="form-group">
						<input type = "text" class="form-control" ng-model="searchInput" ng-change="searchGuests()" placeholder="Potrazi prijatelje"> 
					  </div>
					  <div class="panel panel-primary fixed-panel">
						  <div class="panel-body" >
						  	 <div ng-repeat="g in guests track by g.id">
							  	 	<div class="row">
							  	 		<div class="col-md-3">
												<img src="../Images/user.png" class="img-rounded" alt="Cinque Terre" width="100" height="100">
										</div>
											<p>Ime i prezime: {{g.user.name + " " + g.user.lastName}}</p>
											<p>Mesto stanovanja: {{g.city}}</p>
										<div class="col-md-9">
											  <div ng-if="guest | doesntContain:g:'add'"><button type="button" class="btn btn-primary pull-right" ng-click="addFriend(g)">Dodaj za prijatelja</button></div>
											  <div ng-if="guest| doesntContain:g:'remove'"><button type="button" class="btn btn-danger pull-right" ng-click="removeFriend(g)">Obrisi iz liste prijatelja</button></div>
											  <div ng-if="guest | doesntContain:g:'requestSent'"><button type="button" class="btn pull-right" disabled="true">Poslat zahtev</button></div>
											  <div ng-if="guest | doesntContain:g:'requestRecieved'">
													<button type="button" class="btn btn-primary" ng-click="acceptRequest(g)">Prihvati zahtev</button>
													<button type="button" class="btn btn-danger pull-right" ng-click="declineRequest(g)">Odbi zahtev</button>
											  </div>
										</div>
										</div>
										<hr size="20">
									</div>
					  		</div>
						  </div>
					</div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-primary" data-dismiss="modal">Izadji</button>
				      </div>
			      </div>
			  </div>
			</div>
			</div>
			
			<!-- Modal -->
			<div id="editProfileModal" class="modal fade" role="dialog" ng-controller="profileController">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Izmena profila</h4>
			      </div>
			      <div class="modal-body">
			      	<div class="form-group">
						<label for="name" class="control-label"> Ime: </label>  
						<input type = "text" class="form-control" id="name" ng-model="newGuest.user.name" placeholder="Unesi ime"> 
					</div>
			      	<div class="form-group">
						<label for="lastName" class="control-label"> Prezime: </label>  
						<input type = "text" class="form-control" id="lastName" ng-model="newGuest.user.lastName" placeholder="Unesi prezime"> 
					</div>
			      	<div class="form-group">
						<label for="city" class="control-label"> Mesto stanovanja: </label>  
						<input type = "text" class="form-control" id="city" ng-model="newGuest.city" placeholder="Unesi mesto stanovanja"> 
					</div>
					<div class="form-group">
						<label for="address" class="control-label"> Adresa stanovanja: </label>  
						<input type = "text" class="form-control" id="address" ng-model="newGuest.address" placeholder="Unesi adresu stanovanja"> 
					</div>
					<div class="form-group text-danger" ng-if="errorMessage">{{ errorMessage }}</div>
			      
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetNewGuest()">Izadji</button>
			        <button type="submit" class="btn btn-primary pull-left" ng-click="editProfile()" > Izmeni </button>
			      </div>
			  </div>
			</div>
			</div>
			
			<!-- Modal -->
			<div id="editGuestInfoModal" class="modal fade" role="dialog" ng-controller="profileController">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <button type="button" class="close" data-dismiss="modal">&times;</button>
			        <h4 class="modal-title">Izmena korisnickih informacija</h4>
			      </div>
			      <div class="modal-body">
					<div class="form-group">
						<label for="password" class="control-label"> Trenutna lozinka: </label>  
						<input type = "password" class="form-control" id="password" ng-model="password" placeholder="Unesi trenutnu lozinku"> 
					</div>
			      	<div class="form-group">
						<label for="password" class="control-label"> Nova lozinka: </label>  
						<input type = "password" class="form-control" id="password" ng-model="newPassword" placeholder="Unesi lozinku"> 
					</div>
			      	<div class="form-group">
						<label for="passwordConfirm" class="control-label"> Potvrda nove lozinke: </label>  
						<input type = "password" class="form-control" id="passwordConfirm" ng-model="newPasswordConfirm" placeholder="Potvrdi lozinku"> 
					</div>
			      	
					<div class="form-group text-danger" ng-if="userInfoErrorMessage">{{ userInfoErrorMessage }}</div>
			      
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="resetNewGuest()">Izadji</button>
			        <button type="submit" class="btn btn-primary pull-left" ng-click="editGuestInfo()" > Izmeni </button>
			      </div>
			  </div>
			</div>
			</div>
			
	</div>
	
</div>

</body>
</html>